
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Preloader styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FBEAFF;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 2s ease-in-out;
  }
  
  .preloader.preload-finish {
    opacity: 0;
    pointer-events: none;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    border-bottom: 1px solid #000;
    z-index: 10;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    font-weight: 500;
    cursor: pointer;
}

nav .logo{
    width: 220px;
    cursor: pointer;
}

.nav-btn {
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}
 
.nav-btn img {
    width: 16px;
    margin-left: 8px;
}

.header {
    width: 100%;
    min-height: 100vh;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: radial-gradient(circle, #fff6ff, #eee0f0, #dccbe1, #c9b7d3, #b6a3c5, #ac96c0, #a18abb, #967eb7, #9276ba, #8e6ebd, #8966bf, #845ec2);
}

.header h1 {
    margin-top: 100px;
    font-size: 10vw;
    line-height: 11vw;
}

.btn-container {
    margin: 20px;
}

.header button{
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}

.btn-dark {
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 30px;
    border-radius: 40px;
}

.btn-dark img{
    width: 40px;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    margin-left: 30px;
}

.btn-light {
    background: transparent;
    text-decoration: underline;
}

.btn-light img{
    width: 20px;
    margin-left: 10px;
}

.header p {
    max-width: 360px;
}

.user-img {
    width: 100%;
    max-width: 480px;
    position: absolute;
    right: 13%;
    bottom: 0;
}

/*-- animation --*/

.header h1 span {
    background: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0%;
}

.header h1 span:first-child {
    animation: textcolor1 2s linear infinite alternate;
}
.header h1 span:LAST-child {
    animation: textcolor2 2s linear infinite alternate;
}
@keyframes textcolor1 {
    0%{
        background-size: 0%;
    }
    40%{
        background-size: 100%;
    }
    100%{
        background-size: 100%;
    }
}
@keyframes textcolor2 {
    0%{
        background-size: 0%;
    }
    40%{
        background-size: 0%;
    }
    100%{
        background-size: 100%;
    }
}

.menu-icon{
    display: none;
}

/*----NAVBAR----*/

@media only screen and (max-width: 600px){
    nav ul {
        position: absolute;
        width: 100%;
        background: #000;
        color: #fff;
        left: 0;
        top: 100%;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .nav-btn{
        display: none;
    }
    nav .logo{
        width: 170px;
    }
    nav ul li{
        margin: 10px;
        font-size: 14px;
    }
    .menu-icon{
        display: block;
        width: 30px;
    }
    .show-menu{
        max-height: 60px;
    }
}


@media only screen and (max-width: 600px){
    .header{
        min-height: auto;
        padding: 0;
        position: relative;
    }
    .user-img{
        width: 95%;
        right: auto;
        position: relative;
        margin-top: 130px;
    }
    .header-content{
        position: absolute;
        bottom: 0;
        padding: 0 10%;
        z-index: 2;
        padding-bottom: 40px;
        background: linear-gradient(transparent, #fff);
    }
    .btn-container{
        margin: 5px 0;
    }
    .header button{
        font-size: 14px;
        margin-right: 10px;
    }
    .btn-dark{
        padding: 7px 7px 7px 20px;
        margin-bottom: 10px;
    }
    .btn-dark img{
        width: 30px;
        padding: 5px;
        margin-left: 15px;
    }
    .btn-light img{
        width: 12px;
        margin-left: 5px;
    }
    .header h1{
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 20px;
    }
}



/*---Services---*/
  section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
  }
  
  section h2 {
    font-size: 2rem;
  }
  
  section > p {
    text-align: center;
    font-size: 1rem;
  }
  
  section .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
  }
  
  section.about {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .about .company-info {
    margin-top: 30px;
  }
  
  .about h3 {
    margin: 30px 0 10px;
  }
  
  .about .team {
    text-align: left;
    width: 100%;
  }
  
  .about .team ul {
    padding-left: 20px;
  }
  
  section .cards .card {
    background: radial-gradient(circle, #fff6ff, #eee0f0, #dccbe1, #c9b7d3, #b6a3c5, #ac96c0, #a18abb, #967eb7, #9276ba, #8e6ebd, #8966bf, #845ec2);;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
  }
  
  .portfolio .cards .card {
    padding: 0 0 20px;
  }
  
  .services .card img {
    width: 110px;
    height: 110px;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  .portfolio .card img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px;
  }
  
  .cards .card p {
    padding: 0 15px;
    margin-top: 5px;
  }
  
  .about .row {
    padding: 0 10px;
  }
  
  .contact .row {
    margin: 60px 0 90px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact .row .col {
    padding: 0 10px;
    width: calc(100% / 2 - 50px);
  }
  
  .contact .col p {
    margin-bottom: 10px;
  }
  
  .contact .col p i {
    color: #7a7a7a;
    margin-right: 10px;
  }
  
  .contact form input {
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 1px solid #bfbfbf;
  }
  
  .contact form textarea {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    height: 150px;
    outline: none;
    resize: vertical;
    border: 1px solid #bfbfbf;
  }
  
  .contact form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #333;
    transition: 0.2s ease;
  }
  
  .contact form button:hover {
    background: #525252;
  }

  

/*footer */

footer {
  background: radial-gradient(circle, #fff6ff, #eee0f0, #dccbe1, #c9b7d3, #b6a3c5, #ac96c0, #a18abb, #967eb7, #9276ba, #8e6ebd, #8966bf, #845ec2);;;
  padding-top: 60px;
}

section.top {
  position: relative;
  margin: 0 30px;
}

section.top {
  display: grid;
  border-bottom: 2px solid rgb(255, 255, 255 / 20%);
  padding-bottom: 20px;
}

section.top .links {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: -6px;
}

section.top .links-column {
  display: grid;
  gap: 10px;
  text-align: center;
}

section.top h2{
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 400;
  color: #fff9ff;
}

section.top p {
  margin: 0;
}

section.top .socials {
  position: absolute;
  left: 50%;
  bottom: 10px;
  translate: -50% 0;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 56px;
}

section.top .socials > a {
  font-size: 20px;
  background: rgb(45, 118, 323 / 25%);
  color: #fff9ff;
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

section.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 8px;
  padding: 20px 0;
  text-align: center;
}

.legal > a {
  margin: 0 0 0 4px;
}

.legal, .copyright {
  font-size: 12px;
}

.legal > span {
  margin-right: 10px;
}

@media (width > 400px) {
  .links-column {
    text-align: left;
  }

  section.top .links {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 50px;
  }

  section.top .socials {
    left: 0;
    translate: 0;
  }

  section.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    text-align: left;
  }
}

@media (width >= 640px) {
  section.top {
    margin: 0 auto;
    max-width: 580px;
    padding: 0;
  }

  section.top .links {
    grid-template-columns: repeat(3, 1fr);
  }

  section.top .socials {
    position: static;
  }

  section.bottom {
    justify-content: center;
  }

  .socials-column:is(h2, p) {
    display: block;
  }
}

/*Footer End */


  @media screen and (max-width: 860px) {
    .navbar .all-links {
      position: fixed;
      left: -100%;
      width: 300px;
      display: block;
      height: 100vh;
      top: 75px;
      background: #333;
      transition: left 0.3s ease;
    }
  
    .navbar #menu-toggler:checked~.all-links {
      left: 0;
    }
  
    .navbar .all-links li {
      font-size: 18px;
    }
  
    .navbar #hamburger-btn {
      display: block;
    }
  
    section > p {
      text-align: center;
    }
  
    section .cards .card {
      width: 100%;
      margin-bottom: 30px;
    }
  
    .homepage .content h1 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  
    .homepage .content .text {
      font-size: 17px;
    }
  
    .content a {
      font-size: 17px;
      padding: 9px 20px;
    }
  
    .contact .row {
      flex-direction: column;
    }
  
    .contact .row .col {
      width: 100%;
    }
  
    .contact .row .col:last-child {
      margin-top: 40px;
    }
  }
